@*@model RegisterViewAdminModel*@
@model Biblioteca.Areas.Identity.Data.BibliotecaUser

@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" type="password" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Roles"></label>
                 @*@Html.DropDownList("Role", new SelectList(Model.Roles, "Text", "Text"))*@
                 @Html.DropDownListFor(m => m.Role, ViewBag.RoleId as IEnumerable<SelectListItem>, "Selecionar o Perfil do Usuário", new { @type = "button", @class = "form-control chosen", @required = "Role", @span = "caret" })
                 @*@Html.DropDownListFor(model => model.Role, (IEnumerable<SelectListItem>)ViewBag.RoleId, "Selecionar o Perfil do Usuário", new { @type = "button", @class = "form-control chosen", @name = "Role", @required = "Role", @span = "caret" })*@
                     
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}