@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <p>Biblioteca Online desenvolvido para teste em c# : ) <a href="https://github.com/xarlys/Biblioteca">Github</a></p>
</div>
