@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <p>Biblioteca Online <a href="https://github.com/xarlys/vaga-csharp">desenvolvido para teste em c# : )</a>.</p>
</div>
